@import url('https://fonts.googleapis.com/css2?family=Hubballi&family=Yeon+Sung&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Yeon Sung', cursive;
}

body{
    height: 100vh;
    background:linear-gradient(gray,white,gray);
    display: flex;
    justify-content: center;
    align-items: center;
}
.box1{
    width: 150px;
    height: 150px;
    box-shadow: rgba(0, 0, 0, .56) 0px 22px 70px 4px;
    border-top-left-radius: 50px;
    border-bottom-right-radius: 50px;
    position: absolute;
    bottom: -75px;
    left: -75px;

}
.box2{
    width: 100px;
    height: 100px;
    box-shadow: rgba(0, 0, 0, .56) 0px 22px 70px 4px;
    border-top-left-radius:30px;
    border-bottom-right-radius: 30px;
    position: absolute;
    right: -50px;
    top: -50px;

}
.container{
    width: 85vw;
    max-width: 700px;
    min-height: 40vh;
    box-shadow: rgba(0, 0, 0, .56) 0px 22px 70px 4px;
    border-top-left-radius: 150px;
    border-bottom-right-radius: 150px;
    position: relative;

}

h2{
    text-align: center;
    margin: 35px;
}
.todo-add{
    text-align: center;
}

#todo-input{

}